/laboratorios/lab02/codigo/Java/Laboratorio02/nbproject/private/
/laboratorios/lab02/codigo/Java/Laboratorio02/build/
/laboratorios/lab03/codigo/lab03/nbproject/private/
/laboratorios/lab03/codigo/lab03/build/